.article-root {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: minmax(0, 1fr) 280px;
    box-sizing: border-box;
    min-height: 100%;

    .article-content {
        padding: 20px;
    }

    .article-index {
        padding: 10px;

        .index-content {
            &.fixed {
                position: fixed;
                top: 10px;
                width: 260px;
            }

            ul {
                list-style: none;
                > li {
                    padding: 7px 0;
                    font-weight: bold;
                    cursor: pointer;
                    > ul {
                        list-style: circle inside;
                        padding-left: 23px;

                        > li {
                            padding: 5px 0;
                            font-weight: normal;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                    span:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

}